// Colors
$background: hsl(182, 10%, 98%) ;
$primary: cadetblue;
$secondary: hsl(182, 30%, 95%);
$darkprimary: hsl(182, 25%, 30%);
$lightprimary: hsl(182, 25%, 85%);
$textprimary: #333;
$textsecondary: hsl(0,0%,50%);

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}