---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <div class="entry description">
        {{ post.description }}
      </div>
    </article>
    <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">read more</a>
  {% endfor %} 
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">previous</a>
    {% else %}
      <div class="previous">previous</div>
    {% endif %}
    <div class="page_number">{{ paginator.page }} / {{ paginator.total_pages }}</div>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">next</a>
    {% else %}
      <div class="next">next</div>
    {% endif %}
  </div>
</div>
<aside>
	<b>Archive</b>
  <ul>
  {% for post in site.posts %}
    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title | truncate: 21 }}</a></li>
  {% endfor %}
  </ul>
  <b>{{ paginator.total_posts }} total posts</b>
</aside>