---
---

@import "variables";

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: $textprimary;
}
body {
    background-color: $background;
    font-family: sans-serif;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 20px;
}
.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    width: 1000px;
}
aside {
    //border-left: solid 3px $primary;
    //height: fit-content;
    background-color: $secondary;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-box-shadow: 0 2px 6px 0 hsla(182, 30%, 10%, 0.2);
            box-shadow: 0 2px 6px 0 hsla(182, 30%, 10%, 0.2);
    float: right;
    font-size: 0.9em;
    line-height: 1.5;
    margin-left: 20px;
    padding: 20px;
    width: 25%;
}
.posts {
    width: 75%;
}
.pagination {
    display: flex;
    font-family: "Lucida Console", Monaco, monospace;
    text-align: center;
    width: 100%;
}
.previous, .next {
    background-color: $secondary;
    padding: 5px;
    width: 40%;
}
div.previous, div.next {
    color: white;
}
a.previous:hover, a.next:hover {
    background-color: $lightprimary;
}
.page_number {
    padding: 5px;
    width: 20%;
}
a {
    color: $primary;
    text-decoration: none;
}
a:hover {
    color: $darkprimary;
    position: relative;
    bottom: 1px;
    text-shadow: 0 1px 1px hsla(0,0%,0%,0.1);
}
h1, h2, p {
    margin: 0;
}

header {
    margin-bottom: 20px;
    margin-top: 20px;
}
.header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
.header-content a {
    color: $textprimary;
}
.header-content a:hover {
    color: $primary;
}
.site-avatar {
    margin: 5px;
}
.site-avatar img {
    height: 80px;
}
.site-info {
    padding-bottom: 5%;
    padding-left: 15px;
    padding-top: 5%;
}
.site-description {
    color: dimgrey;
}
nav {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 18px;
    font-weight: bold;
    margin: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
nav a {
    margin-left: 10px;
    margin-right: 10px;
}

.post {
    background-color: white;
    border-left: solid 3px $primary;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-box-shadow: 0 2px 6px 0 hsla(182, 30%, 10%, 0.2);
            box-shadow: 0 2px 6px 0 hsla(182, 30%, 10%, 0.2);
    line-height: 1.5;
    padding: 25px;
    width: 100%;
}
.post h1 {
    text-align: center;
}
.post h1 a {
    color: $textprimary;
}
.post h1 a:hover {
    color: $primary;
}
.description {
    text-align: center;
}
.entry {
    color: dimgrey;
    font-size: 1.15em;
    margin-bottom: 10px;
    margin-top: 10px;
}
.entry h1 {
    text-align: left;
}
.entry a {
    text-decoration: underline;
}
.entry p {
    font-size: 1.1em;
    margin-bottom: 10px;
    margin-top: 10px;
}
.read-more {
    background-color: $secondary;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-box-shadow: 0 2px 6px 0 hsla(182, 30%, 10%, 0.2);
            box-shadow: 0 2px 6px 0 hsla(182, 30%, 10%, 0.2);
    display: block;
    font-family: "Lucida Console", Monaco, monospace;
    margin-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding: 10px;
    text-align: center;
}
.read-more:hover {
    background-color: $lightprimary;
}
.date {
    color: $textsecondary;
    font-style: italic;
    text-align: center;
}
blockquote {
    border-left: solid 2px $textsecondary;
    font-style: italic;
    margin: 0;
    margin-bottom: 10px;
    padding-left: 20px;
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    content: open-quote;
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 5px;
    vertical-align: -0.4em;
}
blockquote p {
    color: $textsecondary;
    display: inline;
    font-size: 1.2em;
}
code {
    font-size: 1em;
}

/* Small Screen */
@media all and (max-width: 1000px) {
    aside {
        display: none;
    }
    .container {
        width: 100%;
    }
    .posts {
        margin-left: 20px;
        margin-right: 20px;
        width: 100%;
    }
    .page {
        width: 95%;
        margin: auto;
    }
}

@import "highlights";