---
layout: base
title: Blog
description: 'All blog posts can be found here'
pagination:
  data: collections.allPosts
  size: 12
permalink: 'blog/{% if pagination.pageNumber >=1 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-secondary)">
    <div class="section__inner flow region" style="--region-space-top: var(--space-xl-2xl)">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>
    </div>

    {% svg "divider/edgy", null, "divider" %}
  </header>

  <div class="region flow prose" style="--region-space-top: var(--space-xl-2xl)">
    <p>There are <strong>{{ pagination.items | length }}</strong> posts on this page.<br>
      Use the pagination to scroll through all ({{ collections.posts.length }}) posts, or go through posts <a href="/tags/">by tag</a>.
    </p>
  </div>

  <!-- set collection to paginate -->
  {% set collectionToPaginate = collections.posts %}
  <!-- set target pagination settings in meta.js -->
  {% set metaKey = "blog" %}
  <!-- if the number of items in the collection is greater than the number of items shown on one page -->
  {% if collectionToPaginate.length > pagination.size %}
    <!-- include pagination -->
    {% include 'partials/pagination.njk' %}
  {% endif %}

  <custom-masonry>
		{% asyncEach item in pagination.items %}
			{% include "partials/card-blog.njk" %}
		{% endeach %}
	</custom-masonry>

</div>
