.post article h1 {
  font-size: var(--size-step-6);
}

.post article h2 {
  font-size: var(--size-step-3);
}

.post article h3 {
  font-size: var(--size-step-2);
}

/* make featured image alwyays 16/9 */
.post h1 + :is(picture, figure) img {
  max-inline-size: var(--max-img-width, 100%);
  block-size: auto;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
}

.post date {
  font-size: var(--size-step-1);
  color: var(--color-text-light);
}

.post .credit {
  font-size: var(--size-step-min-1);
  color: var(--color-text-accent);
  background-color: var(--color-bg);
  padding: var(--space-xs) var(--space-s);
  border-radius: var(--border-radius-medium);
  transform: translateY(-4ch) translateX(-0.5ch);
  max-inline-size: fit-content;
}

.post .meta {
  font-size: var(--size-step-min-1);
}

.post #main {
  display: grid;
  grid-template-columns: auto 0px;
}

.post .container-top {
  --offset: 2rem;
  --fade: 2.5rem;
  --size: 3rem;
  
  display: flex;
  align-items: flex-end;
  justify-self: end;
  justify-content: flex-end;
  /* mask: linear-gradient(#0000 calc(100vh + var(--offset)), #000 calc(100vh + var(--offset) + var(--fade))); */
  
  width: 60px;
  background: linear-gradient(#0000 calc(100vh + var(--offset)), #000 calc(100vh + var(--offset) + var(--fade)));
}

.post .container-top a {
  position: fixed;
  bottom:1rem;      
  right:1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  
  /* visual styling */
  width:var(--size);
  height:var(--size);
  aspect-ratio:1;
  background:var(--color-primary);
  border-radius:0.5rem;
}

.post .container-top a:before {
  content:"";
  position:absolute;

  border-top:5px solid #fff;
  border-right:5px solid #fff;
  inset:30%;
  transform:translateY(20%) rotate(-45deg);
}

.post .container-top .label {
  position: absolute;
  right:calc(var(--size) + 0.5rem);

  white-space: nowrap;
  font-size: 1rem;
  opacity: 1;
  pointer-events: none;
  
  transition: opacity var(--transition-duration) var(--transition-timing),
              transform var(--transition-duration) var(--transition-timing);
}

.post .container-top a:hover ~ .label {
  opacity: 1;
  transform: translateY(0%) translateX(0);
}
