{# based on https://inclusive-components.design/collapsible-sections/ #}

{% set headingLevel = headingLevel | default(false) %}

<div class="details flow">
  <ul class="control | cluster" aria-label="{{ meta.details.aria }}" role="list">
    <li><button data-expand-all class="button" data-small-button>{{ meta.details.expand }}</button></li>
    <li><button data-collapse-all class="button" data-small-button>{{ meta.details.collapse }}</button></li>
  </ul>

  {%- for item in itemList | alphabetic -%}
    <details id="{{ item.data.title | slugify }}">
      <summary>
        {%- if headingLevel -%}
          <{{ headingLevel }}>{{ item.data.title }}</{{ headingLevel }}>
        {%- else -%}
          {{ item.data.title }}
        {%- endif -%}
      </summary>
      {{- item.templateContent | safe -}}
    </details>
  {%- endfor -%}
</div>

{% css "local" %}
  {% include "css/details.css" %}
{% endcss %}

{% js "defer" %}
  {% include "scripts/details.js" %}
{% endjs %}
