{% if meta.viewRepo.allow %}
  <hr />
  <p class="text-step-min-1">
    {{ meta[page.lang].blog.githubEdit }}
    <a href="{{ meta.viewRepo.repoUrl | url }}/tree/{{ meta.viewRepo.branchName | url }}/{{ page.inputPath }}"
      >{{ meta.viewRepo.infoText }}</a
    >.
  </p>
{% endif %}
